*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
    text-align: right;
    line-height: 1;
}
#contaner{
 width: 900px;
 margin: auto;
}
#contaner header
    {
        width: 100%;
        height: 105px;
        position: relative;
        background-color: #999;
    }
header >img
    {
        position: absolute;
        width: 142px;
        bottom: -20px;
        right: -8px;
    }
.menu
    {
        height: 33px;
        position: relative;
        top: 60px;
        margin: 0 143px 0 0;
    }    
.menu li 
    {
        display: inline;
        border-left: 2px solid #ddd;
    }
.menu li a
    {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        padding: 0 8px 0 8px;
        font-weight: bold;
        height: 100%;
        cursor: pointer;
    } 
#row1
    {
        height: 355px;
        margin-top: 30px;
    }
.col
    {
        display: inline-block;
        position: relative;
    }
.col div
    {
        position: absolute;
        bottom: 5px;
        right:5px;
        width: 248px;
        height: 97px;
        border-bottom-right-radius: 25px;
        background-color: rgba(159, 155, 155, 0.85);
        font-size: 12px;
        font-weight: bold;
        color:white;
        padding: 10px; 
    }
.col div a
    {
        color red;
    }    
.col div p
    {
        margin-top: 4px;
        font-weight: normal;
    }        
.tab2
    {
        margin: 0 5px 0 5px;
    }
#row1 .col
    {
        width: 293px;
        height: 355px;
        border-bottom-right-radius: 25px;
    }
#row1 .tab1
    {
        background: url("images/station.jpg");
    } 
#row1 .tab2
    {
        background: url("images/zikok.jpg");
    }
#row1 .tab3
    {
        background: url("images/pazkar.jpg");
    } 

#row2
    {
        height: 216px;
        margin-top: 18px; 
    }
#row2 .col
    {
        position: relative;
        width: 293px;
        height: 216px;
        background: url("images/small_cube_bg.png");
    }
#row2 h3
    {
        position: absolute;
        height: 34px;
        right: 25px;
        line-height: 34px;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 15px;
        color: #575757;
    } 
#row2 .col >img
    {
        position: absolute;
        top: 45px;
    }                                
#row2 .col a
    {
        position: absolute;
        top: 175px;
        right: 155px;
        color: #72716d;
        font-size: 13px;
    }                                
#row2 .tab3 a
    {
        right: 25px;
    }